html{
    scroll-behavior: smooth;
    overflow: auto;
    margin:0px;
    padding:0px;
    overflow-x: hidden;
  }
  body {
    margin: 0px;
    padding: 0px;
    font-family:Arial, Helvetica, sans-serif;
    overflow-x: hidden;
  }

  header {
    background-color: black;
    color: white;
    padding: 20px;
    text-align: left;
    height:50px;
  }
  .logo img {
    border-radius: 50%;
  }

  .logohead {
    font-size: 40px;
    font-family: cursive;
    position: relative;
    bottom: 150px;
    right:250px;
  }
  .logoline {
    font-size: 20px;
    font-family: fantasy;
    position: relative;
    bottom: 170px;
    right:50px;
  }

  nav ul {
    padding: 0;
  }

  nav ul li {
    display: inline-block;
    margin-right: 40px;
    position: relative;
    top: -500px;
    top:5px;
    left:80px;
    bottom:-600px;
    
    
  }

  nav a {
    color: black;
    font-size: 18px;
    font-weight: bold;
    transition: color 0.3s ease-in-out;

  }
  nav a:active {
    color: yellow; 
  }

  .dropdown-list {
    display:none;
    padding:20px;
    position: absolute;
    background-color: papayawhip;
    box-shadow: 0 4px 8px rgba(131, 205, 237, 0.1);
    z-index: 1;
  }

  .dropdown:hover .dropdown-list {
    display: block;
  }

  .dropdown-list li {
    display: block;
    padding: 10px;
  }
  .sign-up{
    color:beige;
    position:relative;
    left:1000px;
    bottom:50px;
    bottom:790px;
  }

  .myaccount{
    color:beige;
    position:relative;
    left:1080px;
    bottom:72px;
    bottom:812px;
  }
  #offer{
    background-color: #bee2c4;
  }
  .offer img{
    border-radius: 50%;
    position: relative;
    left:800px;
    bottom:250px;
  }
  .offer1{
    position:relative;
    right:500px;
    bottom:170px;

  }
  .offer2{
    position: relative;
    right:500px;
    top:70px;
  }
  .offer3{
    position: relative;
    right:500px;
    bottom:138px;
  }
  .offer {
    padding: 20px;
    border-bottom: 1px solid #ccc;
    background-color: hsl(0, 0%, 100%);
}

.offer h2 {
    margin-top: 0;
    font-size: 24px;
}

.offer p {
    margin-bottom: 10px;
}
  section {
    width: 1080px;
    height: 600px;
    margin: 30px;
    padding: 60px;
    border: 2px;
    background-color: rgb(64, 77, 78);
  }
  .gallery {
    width: 300px;
    height: 250px;
    border: 2px solid;
    float: left;
    position: relative;
    background-color:#EBDDE2;
    
  }
  .gal {
    width: 300px;
    height: 250px;
    border: 2px solid;
    float: left;
    position: relative;
    left: 50px;
    background-color:#EBDDE2;
  }
  .ga {
    width: 300px;
    height: 250px;
    border: 2px solid;
    float: left;
    position: relative;
    left: 100px;
    background-color: #EBDDE2;
  }
  .g {
    width: 300px;
    height: 250px;
    border: 2px solid;
    float: left;
    position: relative;
    bottom:100px;
    top:60px;
    background-color:#EBDDE2;
    
  }
  .gi {
    width: 300px;
    height: 250px;
    border: 2px solid;
    float: left;
    position: relative;
    top: 60px;
    left:50px;
    background-color:#EBDDE2;
  
  }
  .gir {
    width: 300px;
    height: 250px;
    border: 2px solid;
    float: left;
    position: relative;
    top: 60px;
    left: 100px;
    background-color:#EBDDE2;
  
  }
  h1 {
    text-align: center;
  }
  .button {
    position: relative;
    left: 100px;
  }
  
  .aboutus img{
    width:50%;
     
  }
  #about{
    background-color: #888;
  }
  #about aside {
    text-decoration-color: aliceblue;
  }
  #about .aside {
    height: max-content;
    width: 450px;
    border: 2px solid hwb(0 100% 0%);
    padding:20px;
    float: right;
    position: relative;
    bottom: 500px;
    text-decoration-color: aliceblue;
    }
    .History img{
    width:50%;

  }
  #History{
    background-color: #885b39;
  }
  #History aside {
    text-decoration-color: aliceblue;
  }
  #History .aside {
    height: max-content;
    width: 450px;
    border: 2px solid hwb(0 98% 1%);
    padding:20px;
    float: right;
    position: relative;
    bottom: 500px;
    text-decoration-color: aliceblue;
    }
    #footer {
        background: #262626;
        padding: 40px 0 20px 0;
    }
    #footer .social {
        margin-top: -5px;
        text-align: right;
    }
    #footer .social ul li {
        display: inline-block;
        margin: 0 15px;
    }
    #footer .social i.fa {
        font-size: 24px;
        padding: 4px;
        color: #888;
        transition: all 0.3s;
    }
    #footer .social i.fa:hover {
        color: #eee;
    }
    #footer p {
        font-size: 14px;
        color: #eee;
    }
    #footer a {
        color: #999;
    }
    #footer a:hover {
        color: #eee;
    }
    .row{
      display:inline;
    }
    